@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body{
    background-color: hsl(235, 18%, 26%);
    font-family: 'Roboto',sans-serif;
}
.container{
    display: flex;
    background-color: white;
    color: hsl(235, 18%, 26%);
    border-radius: 0.8rem;
    width: 80%;
    margin: auto;
}

.box1{
    width: 60%;
    padding: 1.8em 1.5em;
}

.box2{
    width: 40%;
    background: url(./assets/images/illustration-sign-up-desktop.svg);
    border-radius: 0.8rem;
    margin: 0.95em 0.8em;
}
.main-heading{
    color: hsl(234, 29%, 20%);
}

.submit-btn{
    background-color: hsl(234, 29%, 20%);
    color:white;
    padding: 0.3em 2.5em;
    border-radius: 3px;
    border: 1px solid black;
}


.check-icon{
    background: url('./assets/images/icon-list.svg');
    display: inline-block;
    border-radius: 50%;
    padding: 0.5rem;
    margin-right: 0.8rem;
}

.check-icon, .box2{
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.box1 ul{
    padding: 0;
}
.list-item{
    list-style-type: none;
}

.box1 label{
    display: block;
}

.container input[type='text']{
    padding: 0.2em 4em;
    display: block;
    margin-bottom: 1em;
}


html{
    font-size: 13px;
}

.container p, .list-item, label{
    font-size: 0.8rem;
}

.box1 label{
    font-weight: bold;
}